@model User
@{
    ViewData["Title"] = "Şifrenizi Sıfırlayın";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

@using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    
    <div class="form-group">
        <input type="hidden" asp-for="Email"/>  
        <label for="Password">Yeni Şifre</label>
        <input type="password" id="Password" name="Password" class="form-control" placeholder="Yeni şifrenizi girin" required minlength="6" />
    </div>

    <button type="submit" class="btn btn-primary">Şifreyi Değiştir</button>
}

<div class="form-group mt-3">
    <p>Şifrenizi unuttunuz mu? <a href="@Url.Action("ForgotPassword", "Login")">Tekrar şifre sıfırlama isteği gönderin</a>.</p>
</div>
