
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<form asp-action="GetBookByISBN" method="get">
    <input type="text" name="isbn" placeholder="ISBN ile Kitap Ara" required />
    <button type="submit">Kitap Ekle</button>
</form>

@if (TempData["SuccesAddBook"] != null)
{
    <div class="alert alert-success">@TempData["SuccesAddBook"]</div>
}
@if (TempData["ErrorAddBook"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorAddBook"]</div>
}


